@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.1%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.1%;
    --primary: 0 0% 62.8% 30.6%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1% 59.8%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 96.1% 59.8%;
    --muted-foreground: 0 0% 98%;
    --accent: 0 0% 96.1% 59.8%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 0 0% 3.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    @apply bg-background text-foreground;
  }
}
